

<h1>Testing the render and routing</h1>

<p>Club name: <%= @club.name%></p>
<p>Angle of club: <%= @club.angle%></p>
<p>Price: <%= @club.price%></p>
<p>Description: <%= @club.description%></p>
<p>Tax: <%= @club.price * 0.10%></p>
<p>Total: <%= @club.price + (@club.price * 0.10)%></p>

<button onClick="backToIndexPage()">Render this button</button>
<script>
  function backToIndexPage() {
    window.location.href = "http://localhost:3000/clubs"
  }
</script>